#logo {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 9px
}
#background {
    height: 100%;
    width: 100%;
}
#portfoliocards {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#portfolio {
    color: rgb(51, 48, 48);
    margin-left: 20px;
}
.footer {
    background-color: rgb(33, 33, 33);
    width: 100%;
    height: 15%;
}
#name {
    color: rgb(33, 33, 33);
}

@media (min-width: 768px) {
    #portfolio {
        color: rgb(240, 233, 233);
        font-style: bold;
        margin-left: 20px;
        text-align: center;
        
    }
    #name {
        color: rgb(240, 233, 233);
        font-style: bold;
        margin-left: 20px;
        text-align: center;
    }
}
